<a href="/">Home</a><br>
<a href="/pages/install.html">Installation</a>
<div id="up">Getting started</div>
<ul>
	<li><div id="subitem"><a href="/pages/getting-started/setup.html">Setup</a></div></li>
	<li><div id="subitem"><a href="/pages/getting-started/customizing.html">Customizing</a></div></li>
	<li><div id="subitem"><a href="/pages/getting-started/dry-run.html">Dry run</a></div></li>
	<li><div id="subitem"><a href="/pages/getting-started/real-run.html">Real run</a></div></li>
	<li><div id="subitem"><a href="/pages/getting-started/check-run.html">Check run</a></div></li>
</ul>
<div id="up">Script</div>
<ul>
	<li><div id="subitem"><a href="/pages/script/actions.html">Actions</a></div></li>
	<li><div id="subitem"><a href="/pages/script/sources.html">Sources</a></div></li>
	<li><div id="subitem"><a href="/pages/script/modifiers.html">Modifiers</a></div></li>
</ul>
<a href="/pages/settings.html">Settings</a>
<ul>
	<li><div id="subitem"><a href="/pages/settings/common.html">Common</a></div></li>
</ul>
<a href="/pages/biegunka-tool.html">Biegunka tool</a><br>
<ul>
	<li><div id="subitem"><a href="/pages/biegunka-tool/init.html">init</a></div></li>
	<li><div id="subitem"><a href="/pages/biegunka-tool/run.html">run</a></div></li>
	<li><div id="subitem"><a href="/pages/biegunka-tool/check.html">check</a></div></li>
	<li><div id="subitem"><a href="/pages/biegunka-tool/list.html">list</a></div></li>
	<li><div id="subitem"><a href="/pages/biegunka-tool/generate.html">generate</a></div></li>
</ul>
